<!DOCTYPE html>
<html>
    <head>
        <base target="_top">
    </head>
    <body>
        <p>
            Dear {name},  
  
            Due to unforeseen circumstances, I am unable to complete our appointment in-person but am available to meet via Zoom.  
            
            If you are still able to meet, please reply to this email with a completed <a href="https://www.byui.edu/career/students/job-market-readiness/know-your-audience">Know Your Audience guide</a> and one of the following documents:  
            
            For Mock Interviews and Resume Reviews, please send a copy of your Resume. For a Cover Letter Review, please send a copy of your Cover Letter.  
            
            I look forward to meeting with you today.  Your appointment is at {time}. 

            Click here to enter your Zoom appointment.   
            
            Please let me know if you have any questions.  
            
            Best Regards,  

            {your_name}
            Career Success Mentor
            BYU-I Career Center | MC 200  
            208.496.9825  
            <a href="byui.edu/career/students/job-market-readiness">byui.edu/career/students/job-market-readiness</a>
        </p>
    </body>
</html>