<!DOCTYPE html>
<html>
  <!-- <head>
    <base target="_top" />
  </head> -->
  <body onclick="checkIfUrl(event)" contenteditable="true">
    <p>
      Dear {name},<br />

      Due to unforeseen circumstances, I am unable to complete our appointment
      in-person but am available to meet via Zoom.<br />
      <br />
      If you are still able to meet, please reply to this email with a completed
      <a
        href="https://www.byui.edu/career/students/job-market-readiness/know-your-audience"
        id="01"
        >Know Your Audience guide</a
      >
      and one of the following documents:<br />
      <br />
      For Mock Interviews and Resume Reviews, please send a copy of your Resume.
      For a Cover Letter Review, please send a copy of your Cover Letter.<br />
      <br />
      I look forward to meeting with you today. Your appointment is at
      {time}.<br />
      <br />
      Click here to enter your Zoom appointment.<br />
      <br />
      Please let me know if you have any questions.<br />
      <br />
      Best Regards,<br />
      <br />
      {your_name}<br />
      Career Success Mentor<br />
      BYU-I Career Center | MC 200 <br />
      208.496.9825 <br />
      <a href="byui.edu/career/students/job-market-readiness"
      id="02"
        >byui.edu/career/students/job-market-readiness</a
      >
    </p>
  </body>
</html>
