<!DOCTYPE html>
<html>
    <!-- <head>
        <base target="_top">
    </head> -->
    <body>
        <p onclick="checkIfUrl(event)" contenteditable="true" id="template-edit-paragraph">
            Dear {name},      
            <br><br>
            Thank you for scheduling an appointment with Job-Market Readiness. I look forward to meeting with you through {location}.    
            <br><br>
            Your appointment is at {time}.   
            <br><br>
            Please reply to this email with a completed <a href = 'https://www.byui.edu/career/preparation/digital-profiles' id = "01">Know Your Professional Guide.</a> 
            <br><br>
            Click here to enter your Zoom appointment.   
            <br><br>
            Please let me know if you have any questions.   
            <br><br>
            Best Regards,   
            <br><br>
            {your_name} <br>
            Career Success Mentor<br>
            BYU-I Career Center | MC 200  <br>
            208.496.9801   <br>
            <a href="byui.edu/career/students/job-market-readiness" id = "02">byui.edu/career/students/job-market-readiness</a>
        </p>
    </body>
</html>
