<!DOCTYPE html>
    <html>
        <!-- <head>
            <base target="_top">    
        </head>     -->
        <body>        
            <p onclick="checkIfUrl(event)" contenteditable="true" id="template-edit-header">No Show - Career Preparation</p>
            <p onclick="checkIfUrl(event)" contenteditable="true" id="template-edit-paragraph">
                Dear {name},
                <br/><br/>
                Thank you for scheduling an appointment with Career Preparation Services. It appears you were not able to make it to your {location} appointment scheduled for {date} at {time}.
                <br/><br/>
                Per the Terms of Agreement, you completed prior to scheduling an appointment, if you do not cancel your appointment 24 hours in advance or arrive 10 minutes late, a $12 no-show fee will be charged to your student account.
                <br/><br/>
                It is our desire to help you with your career preparation needs and welcome the opportunity to serve you in the future.
                <br/><br>
                {your_name}<br>           
                Career Success Mentor<br>           
                BYU-I Career Center | MC 200 <br>           
                208.496.9825  <br>           
                <a href="byui.edu/career/students/job-market-readiness" id="01">byui.edu/career/students/job-market-readiness</a>        
            </p>    
        </body>
    </html>
