<!DOCTYPE html>
<html>
    <head>
        <base target="_top">
    </head>
    <body>
        <p>
            Dear {name}, 
   
            It was a pleasure to meet with you today. I have attached my feedback as well as some helpful resources. 
            
            Please let me know if you have any questions.  
            
            Best Regards,  

            {your_name} 
            Career Success Mentor
            BYU-I Career Center | MC 200  
            208.496.9801   
            <a href="byui.edu/career/students/job-market-readiness">byui.edu/career/students/job-market-readiness</a>
        </p>
    </body>
</html>