<!DOCTYPE html>
<html>
    <head>
        <base target="_top">
    </head>
    <body>
        <p>
            Dear {name}, \n

            Thank you for scheduling an appointment with Job-Market Readiness. I look forward to meeting with you over {location}. Your appointment is at {time}.  
            
            Please reply to this email with a completed <a href="https://www.byui.edu/career/students/job-market-readiness/know-your-audience">Know Your Audience guide</a> and one of the following documents:  
            
            For Mock Interviews and Resume Reviews, please send a copy of your Resume. For a Cover Letter Review, please send a copy of your Cover Letter.   

            For Resume Reviews, we require students to upload their resumes to VMock (please use your BYUI student email to create an account or log in) and receive an improved score before meeting with our mentors.

            
            Please let me know if you have any questions.  
            
            Best Regards, \n

            {your_name}
            Career Success Mentor
            BYU-I Career Center | MC 200  
            208.496.9825  
            <a href="byui.edu/career/students/job-market-readiness">byui.edu/career/students/job-market-readiness</a>
        </p>
    </body>
</html>