<!DOCTYPE html>
<html>
    <body>
        <div id="url-popup">
            <form id="url-body" action="javascript:;" onsubmit="return editHref(this);">
                <label for = "url-text">Link Text<label>
                <input type = "text" id="url-text" name="url-text" value="TBD">
                <label for = "url-link">Link URL</label>
                <input type = "text" id="url-link" name="url-link" value="TBD">
                <input type = "hidden" id="hidden" name="hidden" value="TBD">
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>