<!DOCTYPE html>
<html>
    <body>
        <div id="url-popup">
            <form id="urlbody" action="javascript:;" onsubmit="return editHref(this);">
                <label for = "urltext">Link Text<label>
                <input type = "text" id="urltext" name="urltext" value="TBD">
                <label for = "urllink">Link URL</label>
                <input type = "text" id="urllink" name="urllink" value="TBD">
                <input type = "hidden" id="id" name="id" value="TBD">
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>

